.profile__info {
  display: flex;
  margin: 22px 0 0 0;
  padding: 0;
  max-width: 336px;
}

@media screen and (max-width: 1023px)   {
  .profile__info {
    margin: 22px auto;
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 767px)   {
  .profile__info {
    justify-content: center;
  }
}
